# 编译输出
*.o
gateway_applog

# 运行日志
sensor_log.txt
app_log.txt

# 临时文件
*.log
*.tmp

# 编辑器
.vscode/

#C++ LogManager Demo 编译文件
cpp_modules/log_manager/log_manager_demo
cpp_modules/log_manager/*.o

#C++ LogManager编译文件与运行日志
cpp_modules/log_manager/log_manager_demo
cpp_modules/log_manager/log_manager_demo.log
cpp_modules/log_manager/*.o

#C++ ProtocolParser编译文件
cpp_modules/protocol_parser/protocol_parser_demo
cpp_modules/protocol_parser/*.o

#C++ 集成Demo
cpp_modules/integration_demo/gateway_cpp_demo
cpp_modules/integration_demo/gateway_cpp_demo.log
cpp_modules/integration_demo/*.o

#C++ Thread Demo
cpp_modules/thread_demo/thread_demo
cpp_modules/thread_demo/*.o

# C++ Thread-safe Log Demo
cpp_modules/thread_safe_log_demo/thread_safe_log_demo
cpp_modules/thread_safe_log_demo/thread_safe_log_demo.log
cpp_modules/thread_safe_log_demo/*.o